* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#order-success-wrapper {
  display: flex;
  margin: 50px auto;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-sub {
  display: none;
}
#order-success-wrapper div i {
  padding-top: 50px;
  text-align: center;
}
#order-success-wrapper i {
  width: 100%;
  color: rgb(95, 203, 95);
  font-size: 330px;
  z-index: 2;
  text-align: center;
}
#order-success-wrapper h2 {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
}
#order-success-wrapper h3 {
  padding-top: 20px;

  font-weight: 300;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  * {
    overflow: scroll;
  }
  .nav-sub {
    display: none;
  }

  .nav-display {
    display: flex;
    position: fixed;
    top: 20vh;
    right: 0px;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: none;
    transition: transform 0.7s ease-in;
    transform: translateY(-100%);
    z-index: 20;
    top: 45px;
    padding-top: 0px;
    background-color: #ffff;
    box-shadow: 0 2px 5px #ccc;
    padding-bottom: 20px;
  }
  .change .bar1 {
    transform: rotate(45deg) translate(8px, 3px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(-45deg) translate(8px, -3px);
  }
  .nav-change {
    transition: transform 7s ease-in-out;
    transform: translateY(10%);
  }
  .list-item {
    width: 100vw;
    text-align: center;
    color: #000;
    box-shadow: 2px 2px 2px #f9ffff;
    padding: 20px;
    margin-top: 20px;
  }
  .list-item a {
    color: inherit;
    text-transform: uppercase;
  }
  #edyoda-projects-logo {
    width: 78px;
    position: fixed;
    bottom: 0px;
    /* top: 0; */
    right: 0px;
  }
  .footer-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
  }
  .footer-link {
    font-size: 10px;
  }
  #order-success-wrapper {
    display: flex;
    margin: 50px auto;
    margin-right: 0px;
    padding: 50px auto;
    padding-right: 0px;
    height: 60%;
    width: auto;
    flex-direction: column;
  }
  #order-success-wrapper div i {
    padding-top: 50px;
    text-align: center;
    padding-left: 0;
    width: 100%;
    height: 100%;
    font-size: 150px;

    position: relative;

    padding-left: 0px;
  }
  #order-success-wrapper div {
    width: auto;
    height: auto;
    padding: auto;
  }
  #order-success-wrapper h2 {
    right: 100px;
    padding-top: 20px;
    font-size: 16px;
    overflow: hidden;
    float: none;
    text-align: center;
    padding-left: 180px;
    margin-top: 0px;
  }
  #order-success-wrapper h3 {
    padding-top: 20px;
    right: 0px;
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
  }
}
